.discard-area{
  width: 200px;
  height: 100px;
  background-color: var(--backgroudColor);
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: var(--borderColor) solid 2px;
  font-family: "Joan";
}

.discard-area--highlight{
  border: red 2px solid;
}