################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GamebookTest1/FileContentIndex/8c99c21a-66e6-4a9e-914a-1f5c53eff292.vsidx
/.vs/GamebookTest1/FileContentIndex
