#root{
  --borderColor: #F0AE3E;
  --backgroudColor: #000;
  --textColor: #fff;
}

body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Joan";
  src: url(./fonts/Joan-Regular.ttf);
}

@font-face {
  font-family: "RussoOne-Regular";
  src: url("./fonts/RussoOne-Regular.ttf");
}