.scene{
  
}

.dialog-system{
  border: 2px solid var(--borderColor);
  border-radius: 12px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--backgroudColor);
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  max-height: 300px;
  z-index: 1000;
  filter: drop-shadow(0px 4px 4px var(--borderColor));
  font-family: "Joan";
  color: var(--textColor);
}

.dialog-system h3 {
  font-size: 24px;
}

.dialog-system p {
  font-size: 18px;
}

.dialog-system button {
  width: 150px;
  padding: 8px;
  margin: 8px;
  font-family: "Joan";
  font-size: 16px;
  background-color: var(--backgroudColor);
  color: var(--textColor);
  border: 2px solid var(--borderColor);
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px var(--borderColor));
  cursor: pointer;
  transition: .2s ease-in-out;
}

.dialog-system button:hover {
  background-color: var(--borderColor);
  color: var(--backgroudColor);
  border: 2px solid var(--backgroudColor);
  filter: drop-shadow(0px 4px 4px var(--backgroudColor));
}


.dialog-system__character__container{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--borderColor);
  margin-right: 15px;
  float: left;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: relative;
}
.dialog-system__character {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200%;
  object-fit: cover;
  float: top;
  scale: 5;
  filter: drop-shadow(0px 4px 4px var(--borderColor));
}

.scene-background__image{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-Index: -1;
}

.scene-item {
  cursor: pointer;
  filter: drop-shadow(0 0 4px rgb(0, 0, 0)); /* Initial border color */
  transition: filter 0.2s ease-in-out;
}

.scene-item-hover:hover {
  filter: drop-shadow(0 0 5px red);
}

.scene-character{

}

.scene__image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}