.characters-page__section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: x-large;
  margin: 0 auto;
  text-align: center;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1161px) {
  .characters-page__section {
    flex-direction: column;
    width: 100%;
  }

}