.quest__body{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: var(--backgroudColor);
  color: var(--textColor);
  padding: 1rem;
  border-radius: 10px 0 0 10px;
  border-top: var(--borderColor) solid 2px;
  border-bottom: var(--borderColor) solid 2px;
  border-left: var(--borderColor) solid 2px;
  min-width: 400px;
  max-width: 800px;
  font-family: "Joan";
  z-index: 100;
}

.quest__heading{
  margin: 0;
}

.quest__content{
  margin: 0;
}