.quest-system__container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  width: 800px;
  height: 15vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out; /* Add transition for smooth height change */
}

.quest-system__container.expand {
  height: 50vh; /* Change this to the desired height */
}

.quests__icon {
  width: 64px;
  height: 64px;
  object-fit: cover;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.quests__container {
  position: absolute;
  top: calc(1rem + 64px + 1rem);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.quests__container.show {
  transform: translateX(0);
}